<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <!-- font -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
  <div class="div">
    <div class="div-2">
      <div class="column">
        <div class="div-3">
          <div class="div-4">
            <div class="div-5">ログイン</div>
            <div class="div-6">
              <span ></span>
              <img
                loading="lazy"
                srcset="..."
                class="img"
              />
            </div>
          </div>
          <div class="div-7">ユーザー名</div>
          <div class="div-8">
            <div class="div-9">username</div>
            <span class="fas fa-user-circle"></span>
          </div>
          <div class="div-10">パスワード</div>
          <div class="div-11">
            <div class="div-12">**********</div>
            <span class="fas fa-lock"></span>
          </div>
          <a href="#" class="div-13">初めての方はこちら</a>
          <a href="#" class="div-14">ログイン</a>
          <a href="#" class="div-15">ユーザー名を忘れた方はこちら</a>
          <a href="#" class="div-16">パスワードを忘れた方はこちら</a>
        </div>
      </div>
      <div class="column-2">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/187c09add2ce26a0cf03c0b1174c5fff4b2fe7b7e052b0b67602ce3d78c9ba30?"
          class="img-4"
        />
      </div>
    </div>
  </div>
</body>
</html>
