kakikko_venv/
__pycache__/
chroma_db/

kakikko/static/images/profiles_images/*
!kakikko/static/images/profiles_images/default-profile.jpg
!kakikko/static/images/profiles_images/keep.txt

kakikko/static/images/users_images/*
!kakikko/static/images/users_images/keep.txt