:root {
  --black: black;
  --dark-gray-hover: #636363;
  --white: white;
  --dark-gray: #3b3b3b;
  --light-gray: #c1c1c1;
  --error: white;
  --dark-gray-hover-black: #272727;
  --star: #fdc826;
  --brand-color: #c35a32;
  --relume-library-lite--rl-white: white;
  --relume-library-lite--rl-black: black;
  --elements-webflow-library--accent--primary-1: #4a3aff;
  --elements-webflow-library--general--shadow-01: #14142b0f;
  --elements-webflow-library--general--shadow-02: #14142b14;
  --elements-webflow-library--general--shadow-03: #14142b1a;
  --elements-webflow-library--neutral--100: white;
  --elements-webflow-library--neutral--300: #eff0f6;
  --elements-webflow-library--neutral--600: #6e7191;
  --elements-webflow-library--neutral--800: #211f54;
  --elements-webflow-library--secondary--color-1: #281ca5;
  --accessible-components--dark-grey: #9b9b9b;
  --accessible-components--dodger-blue: #1378d1;
  --systemflow-lite--neutral--80: #636b75;
  --systemflow-lite--neutral--10-2: white;
  --systemflow-lite--neutral--100: #0e0f11;
  --systemflow-lite--primary--60: #2f54eb;
  --systemflow-lite--neutral--50: #d0d4d9;
  --systemflow-lite--primary--10: #f2f6ff;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.body {
  color: var(--black);
  font-family: Noto Sans JP, sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

.navbar-icon {
  font-family: "Fa Solid 900", sans-serif;
  font-size: 25px;
}

.navbar-icon:hover {
  color: var(--dark-gray-hover);
}

.navbar-icon.cart {
  padding-top: 20px;
  font-size: 23px;
}

.navbar {
  background-color: var(--white);
  box-shadow: 2px 5px 15px #0000001a;
}

.container {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
}

.div-block-3 {
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
}

.product-grid {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
}

.product-grid.category {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.link-2 {
  color: #000;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Fa Solid 900", sans-serif;
  font-size: 30px;
  text-decoration: none;
}

.link-2:hover {
  color: var(--dark-gray-hover);
}

.card-money {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}

.section {
  padding: 20px 1.5rem;
  display: flex;
}

.product-card-content {
  color: #000;
  padding: 32px;
}

.product-card-wrapper {
  color: #000;
  background-color: #fff;
  border: 1px solid #eff0f6;
  border-radius: 24px;
  max-width: 1010px;
  height: 100%;
  margin-left: auto;
  text-decoration: none;
  transition: transform .3s;
  box-shadow: 0 2px 12px #14142b14;
}

.product-card-wrapper:hover {
  transform: scale(.96);
}

.card-heading {
  color: #000;
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Noto Sans JP, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.card-heading.category {
  text-align: center;
  line-height: 36px;
}

.product-card-image-wrapper {
  object-fit: fill;
  border-radius: 24px 24px 0 0;
  position: relative;
  overflow: hidden;
  transform: translate(0);
}

.trend-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
}

.heading {
  text-align: center;
  margin-top: 10px;
  padding-left: 0;
  line-height: 64px;
}

.category-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
}

.login-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  max-height: 100vh;
  padding-top: 170px;
  padding-bottom: 170px;
  display: flex;
}

.login-left-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 100vh;
  padding: 0;
  display: block;
}

.login-right-block {
  width: 100%;
  max-height: 100vh;
  padding: 0 40px;
}

.login-image {
  max-height: 100vh;
}

.div-block-4 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.div-block-5 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.login-content {
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.heading-2 {
  margin-bottom: 60px;
}

.login-label {
  margin-bottom: 10px;
  font-size: 16px;
}

.login-text-field {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.form {
  flex-flow: column;
  display: flex;
}

.submit-button {
  background-color: var(--dark-gray);
  border-radius: 5px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
}

.submit-button:hover {
  background-color: var(--dark-gray-hover);
}

.link-3 {
  color: var(--light-gray);
  font-weight: 700;
  text-decoration: none;
}

.link-3:hover {
  color: var(--dark-gray-hover);
}

.forget-link {
  color: var(--light-gray);
  margin-bottom: 0;
  font-weight: 700;
  text-decoration: none;
}

.forget-link:hover {
  color: var(--dark-gray-hover);
}

.success-message {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-block {
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: 700;
  line-height: 64px;
}

.button {
  background-color: var(--dark-gray);
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 16px;
}

.button:hover {
  background-color: var(--dark-gray-hover);
}

.text-block-2 {
  color: var(--error);
  margin-right: 10px;
  font-family: "Fa Solid 900", sans-serif;
  font-size: 20px;
}

.div-block-6 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block-3 {
  color: var(--error);
  font-weight: 700;
}

.error-message {
  border-radius: 5px;
}

.signup-block {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-height: 100vh;
  padding-top: 100px;
  padding-bottom: 60px;
  display: flex;
}

.signup-left-block {
  width: 100%;
  max-height: 100vh;
  margin: auto;
  padding: 0;
}

.signup-right-block {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.signup-image {
  width: 100%;
  max-height: 100vh;
  position: static;
}

.signup-form {
  flex-flow: column;
  display: flex;
}

.heading-3 {
  margin-bottom: 60px;
}

.signup-label {
  margin-bottom: 10px;
  font-size: 16px;
}

.signup-text-field {
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  margin-bottom: 30px;
}

.div-block-7 {
  color: var(--black);
  text-align: center;
  margin-bottom: 40px;
}

.link-4 {
  color: var(--light-gray);
  font-weight: 700;
  text-decoration: none;
}

.link-4:hover {
  color: var(--dark-gray-hover);
  font-weight: 700;
}

.submit-button-2 {
  background-color: var(--dark-gray);
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
}

.submit-button-2:hover {
  background-color: var(--dark-gray-hover);
}

.hero {
  padding-top: 0;
  padding-bottom: 60px;
}

.sidenavbar__top {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.square {
  z-index: 4;
  border-radius: .5em;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  display: flex;
  position: relative;
}

.square.is--line {
  background-color: #eeedf22e;
  border-radius: 100vw;
  width: 100%;
  height: .15em;
  margin-top: 1.7em;
}

.square.is--hamburger {
  background-color: var(--dark-gray);
  text-decoration: none;
  transition: background-color .2s;
}

.square.is--search {
  background-color: #272727;
}

.square.is--hamburger {
  background-color: #131313;
  transition: background-color .2s;
}

.square.is--hamburger:hover {
  background-color: #1f1f1f;
}

.hiro-container {
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  display: flex;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.hero-image {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex: 1;
  grid-template-rows: minmax(200px, 2.5fr);
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100%;
  padding: 0 0 0 1.5em;
  display: grid;
}

.image {
  object-fit: cover;
  object-position: 50% 35%;
  border-radius: .8em;
  width: 100%;
  height: 100%;
  position: relative;
}

.sidenavbar__icon {
  object-fit: contain;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  display: flex;
}

.sidenavbar__icon.is--search {
  opacity: .4;
  font-size: 16px;
}

.sidenavbar__icon.is--1 {
  display: block;
}

.sidenavbar__icon.is--2 {
  display: none;
}

.sidenavbar__links {
  padding-top: 1.7em;
  padding-bottom: 3.5em;
}

.hide-text {
  flex: 0 auto;
  width: 100%;
  max-width: 100%;
  padding-top: 10px;
  overflow: hidden;
}

.hide-text.is--nav {
  white-space: nowrap;
}

.sidenavbar {
  background-color: var(--dark-gray);
  color: #eeedf2;
  border-radius: .8em;
  flex-direction: column;
  flex: 0 auto;
  justify-content: space-between;
  align-items: stretch;
  width: 5.6em;
  height: 100%;
  min-height: 85vh;
  max-height: 85vh;
  margin-top: 0;
  margin-right: 0;
  padding: 1.3em;
  display: flex;
  overflow: hidden;
}

.sidenavbar__link {
  color: #eeedf280;
  border-radius: .5em;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: .4em;
  text-decoration: none;
  transition: background-color .2s;
  display: flex;
}

.sidenavbar__link:hover {
  color: #eeedf2;
  background-color: #272727;
}

.sidenavbar__link.w--current {
  background-color: var(--dark-gray);
  color: #eeedf2;
  text-decoration: none;
}

.sidenavbar__link.w--current:hover {
  background-color: var(--dark-gray-hover-black);
}

.sidenavbar_search {
  color: #eeedf27a;
  background-color: #272727;
  border-radius: .5em;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 1.6em;
  text-decoration: none;
  display: flex;
}

.sidenavbar_icon {
  color: var(--light-gray);
  font-family: "Fa Solid 900", sans-serif;
  font-size: 16px;
}

.sidenavbar_icon.create {
  font-size: 18px;
}

.sidenavbar_text {
  color: var(--light-gray);
  font-family: Noto Sans JP, sans-serif;
}

.main-container {
  max-width: 1200px;
}

.main-flex-block {
  display: flex;
}

.filter-left-block {
  width: 100%;
  max-width: 25%;
  padding-top: 40px;
  padding-right: 20px;
}

.filter-right-block {
  width: 100%;
  max-width: 75%;
  padding: 40px 20px 80px;
}

.filter-content {
  flex-flow: column;
  padding: 10px 10px 20px;
  display: block;
}

.form-block {
  margin-top: 30px;
}

.category-filter {
  margin-bottom: 10px;
}

.category-heading {
  margin-bottom: 15px;
}

.login-container {
  order: 0;
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.login-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center stretch;
  max-width: 1200px;
  max-height: 100vh;
  display: grid;
}

.signup-container {
  width: 100%;
  max-width: 1200px;
  max-height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
}

.signup-grid {
  float: left;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  max-width: 1200px;
  max-height: 100vh;
  display: flex;
}

.price-heading {
  margin-bottom: 15px;
}

.price-block {
  margin-top: 30px;
}

.price-checkbox {
  margin-bottom: 10px;
}

.genre-block {
  margin-top: 30px;
  margin-bottom: 20px;
}

.genre-heading {
  margin-bottom: 15px;
}

.genre-checkbox {
  margin-bottom: 10px;
}

.filter_sort-by {
  border: 1px solid #ccc;
  border-radius: .5rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 12rem;
  padding: .5rem 4rem .5rem 1.2rem;
  display: flex;
}

.dropdown_icon {
  margin-right: 1.2rem;
  font-size: 1rem;
}

.dropdown_list.w--open {
  background-color: var(--white);
  border-radius: 1rem;
}

.filter_header {
  background-color: #fff;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-height: 3.5rem;
  padding: 14px 50px 14px 1rem;
  display: flex;
}

.sort_field {
  color: #000;
  cursor: pointer;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  padding: 1rem 2rem 1rem 1.5rem;
  text-decoration: none;
  display: flex;
}

.sort_field:hover {
  background-color: #c1c1c159;
  border-radius: .5rem;
}

.sort_field.w--current {
  color: #3c7c43;
  background-color: #f4f9f4;
}

.dropdown {
  margin-left: 0;
  margin-right: 0;
}

.breadcrumb-link {
  color: #000;
  text-decoration: none;
}

.product-header5_main-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.reviewcount {
  font-size: .875rem;
}

.product-header5_lightbox-link {
  width: 100%;
  display: block;
}

.padding-vertical, .padding-vertical.padding-xlarge {
  padding-left: 0;
  padding-right: 0;
}

.padding-vertical.padding-xlarge.reduced {
  padding-top: 4rem;
  padding-bottom: 0;
}

.text-size-large {
  font-size: 1.25rem;
}

.text-size-large.text-color-grey {
  color: var(--light-gray);
}

.product-header5_component {
  padding-bottom: 3rem;
}

.product-header4_breadcrumb {
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
  font-size: .875rem;
  display: flex;
}

.price-text {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.4;
}

.button-2 {
  background-color: var(--dark-gray);
  color: #fff;
  text-align: center;
  border: 1px solid #1b1b1b;
  border-radius: .5rem;
  padding: .75rem 1.5rem;
  font-size: 1.1rem;
}

.button-2:hover {
  background-color: var(--dark-gray-hover-black);
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.product-price-wrapper {
  display: flex;
}

.product-info-section {
  font-family: Noto Sans JP, sans-serif;
  line-height: 1.4;
  position: relative;
}

.product-info-padding {
  padding-left: 5%;
  padding-right: 5%;
}

.product-container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.heading-xlarge {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 1.2;
}

.product-rating-icon {
  color: #fdc826;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  margin-right: .25rem;
  display: flex;
}

.breadcrumb-divider {
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
  display: flex;
}

.product-header5_layout {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1.25fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.button-secondary {
  color: #1b1b1b;
  text-align: center;
  background-color: #0000;
  border: 1px solid #1b1b1b;
  padding: .75rem 1.5rem;
}

.button-secondary.is-buy-now-button {
  border-color: #cccc;
  border-radius: .5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.button-secondary.is-buy-now-button:hover {
  background-color: #0000000d;
}

.price-review-text-divider {
  background-color: #1b1b1b;
  width: 1px;
  height: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

.product-header4_form-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr min-content;
  grid-auto-columns: 1fr;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: grid;
}

.product-header4_default-state {
  margin-bottom: 2rem;
}

.product-header5_main-image-wrapper {
  padding-top: 100%;
  position: relative;
}

.product-reviews-wrapper {
  align-items: center;
  display: flex;
}

.error-state {
  margin-top: 1.5rem;
  padding: .875rem 1rem;
}

.form-input-2 {
  color: #1b1b1b;
  background-color: #fff;
  border: 1px solid #1b1b1b;
  height: auto;
  min-height: 2.75rem;
  margin-bottom: 0;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.6;
}

.form-input-2:focus {
  border-color: #000;
}

.form-input-2::placeholder {
  color: #0009;
}

.form-input-2.is-quantity-input {
  border-color: #cccc;
  border-radius: .5rem;
  width: 4rem;
}

.form-input-2.is-quantity-input::placeholder {
  color: #1b1b1b;
}

.product-header5_gallery {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 5rem;
  grid-auto-columns: 1fr;
  align-items: start;
}

.product-header4_product-details {
  position: sticky;
  top: 8rem;
}

.product-rating-wrapper {
  color: #fdc826;
  margin-right: .5rem;
  display: flex;
}

.breadcrumb-link-2 {
  color: #1b1b1b;
  text-decoration: none;
}

.breadcrumb-link-2.w--current {
  font-weight: 600;
}

.search {
  margin-bottom: 0;
}

.search-form {
  grid-column-gap: 10px;
  border: 1px solid var(--light-gray);
  border-radius: 50px;
  align-items: center;
  padding: 3px 20px;
  display: flex;
}

.search-placehoder {
  border: 1px #000;
  margin-bottom: 0;
  padding-left: 0;
}

.hide {
  display: none;
}

.image-2 {
  width: 20px;
}

.review-container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1200px;
  display: flex;
}

.review-section {
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: Noto Sans JP, sans-serif;
}

.review-left-block {
  width: 100%;
  max-width: 25%;
  margin-right: 0;
}

.review-right-block {
  color: var(--black);
  width: 100%;
  max-width: 75%;
}

.review-left-heading-block {
  margin-bottom: 20px;
}

.review-left-content-block {
  padding-left: 20px;
  padding-right: 20px;
}

.review-left-star-icon {
  color: var(--star);
  margin-bottom: 5px;
  font-family: "Fa Solid 900", sans-serif;
  font-size: 16px;
  font-weight: 900;
}

.comment-form-button {
  border: 1px solid var(--dark-gray);
  background-color: var(--dark-gray);
  border-radius: 4px;
  padding: .6em 1.2em;
  font-family: "Fa Solid 900", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.comment-form-button:hover {
  background-color: var(--dark-gray-hover);
}

.comment-form {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  width: 100%;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
  display: flex;
}

.comment-form-input-row {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: flex-start;
  display: flex;
}

.comment-input {
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  min-height: 72px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: .6em .8em;
  box-shadow: 0 2px 3px #ffffff80, 0 3px 6px -2px #071d3d1f;
}

.comment-input:hover {
  border-color: #333c;
}

.comment-input:focus {
  color: #000;
  border-color: #2962ff;
}

.comment-input.is-primary {
  margin-top: 0;
}

.comment-input-wrap {
  z-index: 1;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  width: 100%;
  position: relative;
}

.ms-dropdown-image {
  z-index: 2;
  object-fit: cover;
  background-color: #1a0a9233;
  border: 1px solid #e1e1e1;
  border-radius: 100%;
  flex: none;
  width: 2.75em;
  height: 2.75em;
  position: relative;
}

.ms-dropdown-image:hover {
  background-color: #ffcf03;
}

.ms-dropdown-image.is-upload {
  cursor: n-resize;
  background-color: #c1c1c173;
}

.comment-unused {
  display: none;
}

.comment-full-width {
  width: 100%;
}

.comment-thread-box {
  width: 100%;
  margin-bottom: .5em;
}

.comment-image {
  object-fit: cover;
  background-color: #2962ff;
  border: 1px solid #e1e1e1;
  border-radius: 100%;
  flex: none;
  width: 2.75em;
  height: 2.75em;
}

.comment-image:hover {
  background-color: #2962ff;
}

.comment-image.is-thread {
  width: 2.5em;
  height: 2.5em;
}

.comment-inline-block {
  display: inline-block;
}

.comment-no-margin {
  margin-bottom: 0;
}

.comment-is-edited {
  color: #797373;
  padding-left: .5em;
  font-size: .8em;
  display: inline-block;
}

.comment-form-button-2 {
  border: 1px solid var(--dark-gray);
  background-color: var(--dark-gray);
  border-radius: 4px;
  padding: .6em 1.2em;
  font-weight: 700;
}

.comment-form-button-2:hover {
  background-color: var(--dark-gray-hover);
}

.comment-form-button-2.is-cancel {
  color: #3f3f3f;
  background-color: #f6f6f6;
  border-color: #e1e1e1;
  font-family: Noto Sans JP, sans-serif;
}

.comment-form-button-2.is-cancel:hover {
  background-color: var(--light-gray);
  color: var(--white);
}

.comment-form-button-2.is-cancel.delete {
  font-family: Noto Sans JP, sans-serif;
}

.comment-form-button-2.is-delete {
  white-space: nowrap;
  word-break: keep-all;
  background-color: #e13030;
}

.comment-form-button-2.is-delete:hover {
  background-color: #850e0e;
}

.comment-form-button-2.is-load-more {
  color: #3f3f3f;
  text-align: center;
  background-color: #f6f6f6;
  border: 1px solid #e4e4e4;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
}

.comment-form-button-2.is-load-more:hover {
  background-color: #e6eeff;
}

.comment-text {
  white-space: pre-wrap;
  word-break: normal;
  overflow-wrap: break-word;
  max-width: 100%;
  margin-bottom: 1em;
  font-size: 16px;
  display: inline;
}

.comment-reply-btn-content {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  display: flex;
}

.comment-form-button-row {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.comment-reply-section {
  flex-direction: column;
  align-items: flex-start;
  display: none;
}

.comment-delete-text {
  margin-bottom: .25em;
}

.comment-reply-icon {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  margin-bottom: -.5em;
  display: flex;
  position: relative;
  top: -5px;
}

.comment-button-wrap {
  display: inline-block;
  position: relative;
}

.comment-thread-sort {
  align-self: stretch;
}

.comment-name-row {
  grid-column-gap: .75em;
  grid-row-gap: .75em;
  color: #a3a5b2;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  height: 2em;
  font-size: .9em;
  font-weight: 400;
  display: flex;
}

.comment-content {
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
  padding-bottom: 2em;
}

.comment-thread-container {
  z-index: 3;
  background-color: #fff;
  width: 100%;
  min-height: 100px;
  padding-top: 1em;
  position: relative;
}

.comment-reply-button {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  color: #2962ff;
  background-color: #ffffff03;
  border-radius: 100px;
  padding: .5em 1em .5em .5em;
  font-weight: 700;
  display: block;
}

.comment-reply-button:hover {
  background-color: #2962ff26;
}

.commenter-name {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  margin-left: 0;
  padding-left: 0;
  display: flex;
}

.comment-reaction {
  color: #424242;
  justify-content: center;
  align-items: center;
  height: 3.5em;
  margin-left: -.5em;
  padding: .5em 1em .5em .5em;
  display: flex;
}

.comment-reaction:hover, .comment-reaction.is-active {
  color: #2962ff;
}

.comment-reaction.is-active:hover {
  color: #000;
}

.comment-action-hover.w--open {
  color: #fff;
  white-space: nowrap;
  background-color: #000;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 15px;
  bottom: 100%;
  left: -50%;
}

.comment-icon-embed-xsmall {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  position: relative;
  top: -2px;
}

.comment-reaction-row {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-left: -8px;
  font-size: 12px;
  display: none;
}

.comment-action {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  color: #3f3f3f;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 12px;
  display: flex;
  top: -.25em;
  overflow: hidden;
}

.comment-reply-action {
  color: #a3a5b2;
  align-items: center;
  padding-top: 0;
  padding-left: .8em;
  padding-right: .8em;
  transition: opacity .2s;
  display: flex;
}

.comment-reply-action:hover {
  color: #2962ff;
}

.comment-reply-action.is-date {
  padding-right: 0;
}

.comment-reply-action.is-date:hover {
  color: #a3a5b2;
}

.comment-row {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 2em;
  display: flex;
  position: relative;
}

.comment-delete-wrap {
  z-index: 1000;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  display: inline-block;
  position: relative;
}

.comment-image-wrap {
  z-index: 2;
  flex: none;
  position: relative;
}

.comment-hover {
  width: 100%;
  display: block;
}

.comment-icon-embed-small {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  display: flex;
}

.comment-action-row {
  grid-column-gap: .25em;
  grid-row-gap: .25em;
  align-items: center;
  margin-left: auto;
  display: flex;
  position: relative;
}

.comment-is-mod-icon {
  outline-offset: 0px;
  color: #fff;
  background-color: #2962ff;
  border-radius: 50%;
  outline: 3px solid #fff;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  padding-bottom: 1px;
  padding-left: .1em;
  padding-right: .1em;
  display: flex;
  position: absolute;
  inset: auto 0% 0% auto;
}

.comment-delete-box {
  z-index: 10;
  background-color: #fff;
  border: 1px solid #e13030;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  padding: .3em;
  font-weight: 700;
  display: none;
  position: absolute;
  inset: -10% auto auto 110%;
  box-shadow: 0 10px 20px -10px #42424233;
}

.text-block-4 {
  font-size: 1.1em;
}

.post-main-block {
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  height: 90%;
  max-height: 90vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.post-content-main-block {
  width: 100%;
  max-width: 65%;
  padding: 20px 0;
}

.post-console-main-block {
  width: 100%;
  max-width: 30%;
  height: 100%;
  max-height: 100vh;
  margin-left: 0;
  margin-right: 0;
  padding: 40px 20px 20px;
}

.post-content-input-form {
  padding-left: 40px;
  padding-right: 40px;
}

.post-buttom {
  background-color: var(--dark-gray);
  border-radius: 4px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
}

.post-buttom:hover {
  background-color: var(--dark-gray-hover);
}

.post-title-block {
  margin-bottom: 50px;
}

.title-heading-block {
  margin-bottom: 20px;
}

.title-input {
  border: .5px solid var(--light-gray);
  border-radius: 4px;
  height: 50px;
  min-height: 50px;
  font-size: 16px;
  box-shadow: 2px 5px 30px #c1c1c1bf;
}

.title-heading {
  font-size: 18px;
}

.post-content-block {
  margin-bottom: 60px;
}

.content-heading-block {
  margin-bottom: 20px;
}

.textarea {
  border-radius: 4px;
  height: 350px;
  min-height: 350px;
  font-size: 16px;
  box-shadow: 2px 5px 30px #0003;
}

.heading-4 {
  font-size: 18px;
}

.post-console-input-form {
  padding-left: 30px;
  padding-right: 30px;
}

.ms-color-swatch {
  z-index: 3;
  color: #12133140;
  background-color: #2962ff;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 20px;
  display: flex;
  position: absolute;
  inset: 10px auto auto 10px;
}

.ms-input-dropdown-wrap {
  width: 100%;
}

.ms-input-label {
  color: #121331;
  margin-bottom: 5px;
  font-weight: 700;
}

.ms-colorpicker-dropdown {
  background-color: #fff;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  padding: 5%;
  box-shadow: 0 30px 40px #0003;
}

.ms-colorpicker-dropdown.w--open {
  width: 100%;
  min-width: 0;
  max-width: 250px;
  margin-top: -10px;
  left: 0;
}

.ms-dropdown-svg {
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  display: flex;
}

.ms-dropdown-svg.input {
  z-index: 5;
  height: 40px;
  position: absolute;
  inset: 0% 0% auto auto;
}

.ms-input {
  color: #121331;
  background-color: #fff;
  border: 1px solid #12133140;
  border-radius: 5px;
  min-height: 40px;
  margin-bottom: 20px;
  padding: 8px 12px;
  transition: box-shadow .2s, border-color .2s;
  position: relative;
  box-shadow: 0 5px 10px -5px #0000001a;
}

.ms-input:hover {
  z-index: 2;
  box-shadow: none;
  border-color: #2962ff;
}

.ms-input::placeholder {
  color: #909090;
}

.ms-input.icon-left {
  padding-left: 40px;
}

.ms-input.icon-left:hover {
  border-color: var(--dark-gray);
}

.ms-space {
  width: 10px;
  height: 10px;
}

.ms-input-wrap {
  padding: 0;
  display: flex;
  position: relative;
}

.ms-margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.color-picker-block {
  margin-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.color-picker-heading-block {
  margin-bottom: 20px;
}

.color-picker-heading {
  font-size: 15px;
}

.fontsize-block {
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.heading-6 {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 700;
}

.fs_inputcounter-1_button {
  background-color: var(--dark-gray);
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  display: flex;
}

.fs_inputcounter-1_button:hover {
  background-color: var(--dark-gray-hover);
}

.fs_inputcounter-1_button:focus-visible {
  outline-offset: 4px;
  outline: 2px solid #9b9b9b;
}

.fs_inputcounter-1_button[data-wf-focus-visible] {
  outline-offset: 4px;
  outline: 2px solid #9b9b9b;
}

.fs_inputcounter-1_input {
  border: 1px none var(--dark-gray);
  color: var(--black);
  text-align: center;
  background-color: #f3f3f3;
  border-radius: 3px;
  min-height: 2.5rem;
  margin-bottom: 0;
  font-size: 1rem;
}

.fs_inputcounter-1_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: start;
  place-items: stretch start;
  display: grid;
}

.fs_inputcounter-1_component {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-block-5 {
  font-family: "Fa Solid 900", sans-serif;
  font-size: 1rem;
}

.text-block-6 {
  font-family: "Fa Solid 900", sans-serif;
  font-size: 1.2rem;
}

.fontsize-heading-block {
  margin-bottom: 20px;
}

.font-block {
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px 0 10px 10px;
  display: flex;
}

.font-heading-block {
  width: 100%;
  max-width: 35%;
  margin-top: auto;
  margin-bottom: auto;
}

.heading-7 {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 15px;
}

.font-icon-block {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center stretch;
  width: 100%;
  max-width: 65%;
  padding-right: 0;
  display: grid;
}

.font-icons {
  cursor: pointer;
  padding: 3px 5px;
  font-family: "Fa Solid 900", sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.font-icons:hover {
  color: var(--light-gray);
}

.chat-main-block {
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  max-height: 95vh;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  display: flex;
}

.chatroom-block {
  background-color: #c1c1c11a;
  border-radius: 1.5rem;
  width: 100%;
  max-width: 56%;
  height: 100%;
  min-height: 90vh;
  max-height: 95vh;
  margin-left: 30px;
  padding: 40px 20px 20px;
  font-family: Noto Sans JP, sans-serif;
  position: relative;
}

.people-list-block {
  color: var(--black);
  width: 100%;
  max-width: 25%;
  height: 100%;
  max-height: 95vh;
  font-family: Noto Sans JP, sans-serif;
}

.people-list-content {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.people-chat {
  color: var(--black);
  border-bottom: 1px solid #c1c1c159;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
  display: flex;
}

.people-chat:hover {
  border-left: 2.5px solid var(--dark-gray-hover);
  background-color: var(--white);
  border-radius: 5px;
}

.chat-avatar-block {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.chat-content-name {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
}

.chat-avatar {
  width: 100%;
}

.chatroom-content-block {
  background-color: var(--white);
  border-radius: 10px;
  width: 100%;
  max-width: 320px;
  margin-bottom: 30px;
  margin-right: auto;
  padding: 15px 5px;
  display: flex;
  box-shadow: 2px 5px 30px #0003;
}

.chatroom-content-block.right {
  margin-left: auto;
  margin-right: 0;
  padding-right: 10px;
}

.chatroom-content-block.left {
  padding-left: 10px;
  padding-right: 5px;
}

.chatroom-content-block.left.notification {
  margin-bottom: 10px;
  box-shadow: 2px 5px 5px #0003;
}

.chatroom-avatar-block {
  width: 100px;
  max-width: 35px;
  height: 100px;
  max-height: 35px;
  margin-left: 10px;
  margin-right: 0;
}

.chatroom-avatar-block.left {
  margin-left: 0;
  margin-right: 10px;
}

.chatroom-avatar {
  width: 100%;
  height: 100%;
}

.chatroom-content-text {
  float: none;
  text-align: right;
}

.chatroom-content-text.left {
  text-align: left;
}

.form-3 {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  min-height: 35px;
  display: flex;
  position: static;
}

.text-field {
  border: 1px solid #c1c1c159;
  border-radius: 5px;
  min-height: 40px;
}

.submit-button-3 {
  background-color: var(--dark-gray);
  color: var(--error);
  border-radius: 5px;
  min-height: 40px;
  font-family: "Fa Solid 900", sans-serif;
  font-size: 16px;
  font-weight: 900;
}

.submit-button-3:hover {
  background-color: var(--dark-gray-hover);
}

.form-block-2 {
  aspect-ratio: auto;
  width: 100%;
  max-width: 95%;
  margin: auto auto 15px;
  position: absolute;
  inset: auto 0 0;
}

.footer {
  background-color: var(--white);
  border-bottom: 1px solid #e4ebf3;
  padding: 100px 30px 15px;
  position: relative;
}

.footer-divider {
  background-color: #c1c1c159;
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-content {
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-logo {
  width: 100px;
  margin-right: 20px;
}

.notification-text {
  font-family: "Fa Solid 900", sans-serif;
  font-size: 25px;
}

.notification-text:hover {
  color: var(--dark-gray-hover);
}

.notification-dropdown-toggle {
  padding-right: 20px;
}

.dropdown-list.w--open {
  background-color: #ffffff59;
  border-radius: 10px;
  width: 100%;
  min-width: 300px;
  max-width: 300px;
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.notification-dropdown-link {
  color: var(--black);
  text-decoration: none;
}

.shoppingcart-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
}

.shoppingcart-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1440px) {
  .div-block-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .link-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .heading {
    padding-left: 0;
  }

  .login-right-block {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    display: block;
    position: relative;
  }

  .login-image {
    width: 100%;
  }

  .signup-block {
    width: 100%;
    max-height: 100vh;
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .signup-left-block {
    width: 100%;
    padding: 0;
  }

  .signup-right-block {
    width: 100%;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .signup-image {
    padding-top: 60px;
    padding-left: 10px;
  }

  .login-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .signup-container {
    max-width: 1200px;
    max-height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
  }

  .signup-grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    max-width: 1200px;
    max-height: 100vh;
    display: grid;
  }

  .price-heading {
    margin-top: 30px;
  }

  .button-secondary.is-buy-now-button:hover {
    background-color: var(--white);
    color: var(--light-gray);
  }

  .search-form {
    border-color: var(--light-gray);
  }

  .review-left-block {
    color: var(--black);
  }

  .review-left-star-icon {
    color: var(--star);
  }

  .post-main-block {
    padding-left: 0;
  }

  .post-content-main-block {
    max-width: 55%;
  }

  .post-console-main-block {
    max-width: 45%;
    margin-left: 0;
    margin-right: 0;
  }

  .post-console-input-form {
    margin-left: auto;
    margin-right: auto;
  }

  .color-picker-block {
    width: 350px;
  }

  .font-icons {
    font-size: 18px;
  }

  .form-2 {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .chat-main-block {
    justify-content: space-between;
    padding: 1.5rem;
    display: flex;
  }

  .chatroom-block {
    width: 100%;
    max-width: 60%;
    font-family: Noto Sans JP, sans-serif;
  }

  .people-list-block {
    width: 100%;
    max-width: 25%;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Noto Sans JP, sans-serif;
  }

  .people-chat {
    color: #000;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    display: flex;
  }

  .chat-avatar-block {
    width: 60px;
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    padding: 0;
  }

  .chat-content-name {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .chatroom-content-block.left.notification {
    margin-bottom: 10px;
    transform: translate(2px, 2px);
  }

  .notification-text {
    font-family: "Fa Solid 900", sans-serif;
    font-size: 26px;
    font-weight: 900;
    overflow: hidden;
  }

  .notification-text:hover {
    color: var(--dark-gray-hover);
  }

  .notification-dropdown-toggle {
    padding: 0;
    overflow: hidden;
  }

  .notification-dropdown {
    padding: 20px 20px 10px;
  }

  .notification-dropdown:hover {
    color: var(--dark-gray-hover);
  }

  .dropdown-list {
    border: 1px #000;
    min-width: 350px;
    padding: 10px;
  }

  .dropdown-list.w--open {
    border-style: none;
    border-radius: 10px;
    width: 100%;
    min-width: 300px;
    max-width: 300px;
    margin-top: 30px;
    padding: 10px;
  }

  .notification-dropdown-link {
    color: var(--black);
    width: 100%;
    text-decoration: none;
  }

  .notification-dropdown-link:hover {
    transform: translate(2px, 2px);
  }

  .link-block {
    text-decoration: none;
    position: absolute;
  }

  .link-block.w--current {
    padding: 5px 10px;
    inset: 0% 0% auto auto;
  }

  .text-block-7 {
    color: var(--dark-gray);
    font-family: "Fa Solid 900", sans-serif;
    font-size: 30px;
    font-weight: 900;
  }

  .text-block-7:hover {
    color: var(--light-gray);
  }
}

@media screen and (max-width: 991px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }

  .product-grid.category {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .product-card-wrapper, .product-card-image {
    width: 100%;
  }

  .card-heading {
    font-size: 22px;
    line-height: 32px;
  }

  .login-left-block {
    margin-bottom: 300px;
  }

  .signup-block {
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .signup-left-block {
    max-height: 120vh;
    margin-bottom: 140px;
    display: block;
  }

  .signup-right-block {
    overflow: visible;
  }

  .signup-content {
    margin-bottom: 100px;
  }

  .login-container {
    width: 100%;
  }

  .login-grid {
    flex-flow: column;
    display: flex;
    overflow: hidden;
  }

  .signup-grid {
    flex-flow: column;
    width: auto;
    margin-left: -20px;
    padding-left: 60px;
    padding-right: 100px;
    display: flex;
    position: absolute;
    overflow: hidden;
  }

  .icon {
    color: var(--black);
    padding: 0 10px 5px;
    font-size: 35px;
  }

  .menu-button {
    display: none;
  }

  .menu-button.w--open {
    background-color: var(--white);
  }

  .nav-menu {
    background-color: #fff6;
    width: 100%;
    min-width: 105px;
    max-width: 107px;
    position: absolute;
    inset: 0% 0% 0% auto;
  }

  .filter_header {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 16px;
    padding-left: 16px;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .product-header5_component {
    padding-bottom: 2.5rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .heading-xlarge {
    font-size: 2.75rem;
  }

  .product-header5_layout {
    grid-column-gap: 5rem;
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    min-height: auto;
  }

  .product-header4_product-details {
    max-height: none;
    padding-right: 0;
    position: static;
    overflow: visible;
  }

  .notification-text {
    padding-left: 0;
  }

  .notification-text:hover {
    color: var(--dark-gray-hover);
  }

  .notification-dropdown-toggle {
    padding-left: 22px;
  }
}

@media screen and (max-width: 767px) {
  .div-block-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .product-grid {
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
    padding-left: 60px;
    padding-right: 60px;
  }

  .product-grid.category {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    grid-template-columns: 1fr;
    padding-left: 60px;
    padding-right: 60px;
  }

  .link-2 {
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
  }

  .card-money {
    font-size: 18px;
    line-height: 22px;
  }

  .product-card-wrapper {
    width: 100%;
  }

  .card-heading {
    font-size: 20px;
    line-height: 26px;
  }

  .trend-container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .heading {
    margin-left: 0;
    padding-left: 0;
    font-size: 24px;
  }

  .signup-grid {
    width: 100%;
    padding-left: 40px;
    padding-right: 80px;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .text-size-large {
    font-size: 1.125rem;
  }

  .product-header5_component {
    padding-bottom: 1.5rem;
  }

  .price-text {
    font-size: 1.25rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .heading-xlarge {
    font-size: 2.25rem;
  }

  .product-header5_layout {
    grid-column-gap: 5rem;
    grid-row-gap: 2rem;
  }

  .product-header5_gallery {
    grid-template-columns: 1fr;
  }

  .search.search-desktop {
    display: none;
  }

  .search-form {
    border-color: #0f1d420f;
  }

  .comment-form {
    grid-column-gap: .5em;
    grid-row-gap: .5em;
  }

  .comment-input.is-primary {
    margin-right: 4em;
    padding-right: .8em;
  }

  .ms-dropdown-image, .comment-image, .comment-image.is-thread {
    width: 2em;
    height: 2em;
  }

  .comment-text {
    margin-bottom: .5em;
  }

  .comment-name-row {
    min-height: 2em;
    font-size: .9em;
  }

  .comment-row {
    grid-column-gap: .5em;
    grid-row-gap: .5em;
  }

  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-divider {
    margin-top: 60px;
  }
}

@media screen and (max-width: 479px) {
  .div-block-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .product-grid {
    grid-row-gap: 32px;
    grid-template-columns: 1fr;
    padding-left: 0;
    padding-right: 0;
  }

  .product-grid.category {
    padding-left: 10px;
    padding-right: 10px;
  }

  .card-money {
    font-size: 17px;
    line-height: 21px;
  }

  .product-card-content {
    padding: 21px 22px 32px;
  }

  .card-heading {
    font-size: 18px;
    line-height: 24px;
  }

  .trend-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading {
    font-size: 20px;
  }

  .category-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .signup-block {
    margin-bottom: 0;
  }

  .hiro-container {
    padding: 4vw;
  }

  .hero-image {
    grid-column-gap: 4vw;
    grid-row-gap: 4vw;
    padding-left: 4vw;
  }

  .signup-grid {
    margin-left: -30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .product-price-wrapper {
    flex-direction: column;
  }

  .product-header5_layout {
    grid-template-columns: 1fr;
  }

  .comment-reply-section {
    margin-left: -1em;
  }
}

#w-node-_20fb1077-2a11-c551-044c-d6f676db57a3-ea04e747 {
  grid-area: 1 / 1 / 2 / 4;
}

#w-node-_3fc02d99-3cb3-90a7-f4b0-fb18fb061b5a-dceb1be9 {
  align-self: center;
}

#w-node-_094a3e85-f39c-fbe5-dec7-a40489f12bc0-52e33313, #w-node-_8f7b1fce-4b83-e2f1-a1ce-29a97aada216-52e33313, #w-node-eb4e17c5-a530-5dd7-f2ad-3c57be036dde-52e33313, #w-node-c54aa408-9e22-cb81-27a2-dec7e2e114cf-52e33313, #w-node-c54aa408-9e22-cb81-27a2-dec7e2e114d1-52e33313, #w-node-c54aa408-9e22-cb81-27a2-dec7e2e114d3-52e33313, #w-node-_3f835578-1ad8-5980-67be-b9e77088c7b5-52e33313, #w-node-_3f835578-1ad8-5980-67be-b9e77088c7b7-52e33313, #w-node-_3f835578-1ad8-5980-67be-b9e77088c7b9-52e33313 {
  place-self: center;
}

@media screen and (min-width: 1440px) {
  #w-node-_7041a0b6-01f9-9b93-f9dc-9c2bd3a2e41e-c74688d1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


@font-face {
  font-family: 'Fa Solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa Brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}