a{
    text-decoration: none;
    margin: none;
}
div{
    color: #000;
}
.category-section { 
    background-color: #fff; 
    display: flex; 
    justify-content: center;
    flex-direction: column; 
}
.header { box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); background-color: #fff; padding: 5px 0px 0px 0px; margin-bottom: 10px; }
.header div.headertop{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 20px;
}
.headerbuttom{
    display: flex;
    align-items: center;
    height: 35px ;  
    padding: 5px 20px;
    background-color: #ddd;
}
.headerbuttom div.navbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-radius: 30px;
    cursor:pointer
}
.headerbuttom img{
    margin-left: auto;
    height: 25px;

    
}
.headerbuttom input{
    width: 300px;
    height: 80%;
    padding: 0 0 0 10px;
    border-radius: 30px;
    border: 2px solid #aaa;
}
.headerbuttom div.navbutton:hover{
    background-color: #fff;
}
.headerbuttom div span{
    font-size: 1.1rem;
}


.header h1{
    font-size: 2rem;
}
.logo-container { display: flex; gap: 10px; font-size: 48px; color: #333; font-weight: 700; cursor:pointer; }
.logo-image { aspect-ratio: 1; object-fit: auto; object-position: center; /*width: 80px;*/ height: 40px; }
.logo-text { font-family: Noto Sans JP, sans-serif; margin: auto 0;}
.nav-icons { display: flex; gap: 20px; justify-content: space-between; margin: auto 0; }
.nav-icon { aspect-ratio: 1; object-fit: auto; object-position: center; width: 30px; cursor:pointer}
.category-nav { border-radius: 50px; background-color: #ddda; align-self: stretch; display: flex; gap: 20px; font-size: 32px; color: #000; font-weight: 400; padding: 0px 80px; }
.category-nav-item { font-family: Noto Sans JP, sans-serif; }
.banner-image { aspect-ratio: 2.08; object-fit: auto; object-position: center; width: 100%; align-self: stretch; margin-top: 20px; }




/* -----------------------------メイン部分-------------------------------------------------- */

/* -------------------------左側------------------------------ */
.main{
    display: flex;

    margin: 50px 0 0 0;
    width: 100%;
}


.left{
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 40%;
}
.left img{
    width: 80%;
}


/* -------------------右側------------------------------ */
.right{
    padding: 10px;
    width: 60%;
}
.title{
    font-size: 2rem;
    margin: 0 0 40px 0;
}
.sakusya{
    font-size: 1.3rem;
}
.star{
    font-size: 1.7rem;
}
.naiyou{
    margin: 30px 0 0 0;
}
.naiyou-title{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 0 0 20px 0;
}
.buttonaction-1{
    margin: 20px 0 0 0;
    display: flex;   
}
.buttonaction-1 img{
    margin: 0 20px 0 0;
    height: 40px;
}


/* ---------------------レビュー欄--------------------------------------- */

.review{
    display: flex;
    margin-top: 300px;
    width: 100%;
}
.main-review{
    display: flex;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #aaa;
}
.left-review{
    width: 15%;
    margin: 10px 0 0 auto;
}
.title-re{
    font-size: 1.5rem;
}
.star-re-1{
    margin: 10px 0 0 0;
    font-size: 1.3rem;
}
.starcount-re{
    font-size: 1.3rem;
}



.right-review{
    /* display: flex; */
    width: 70%;
    padding: 10px;
    margin: 0 20px 0 auto;
}
.userreview{
    width: 7%;
    margin: 0 10px 0 0 ;
}
.usericon img{
    width: 100%;
}
.userreview-text{
    display: block;
}



.review-button{
    display: flex;
    justify-content: end;
    margin: 25px 0 0 0;
}
.review-button div{
    display: flex;
}
.good{
    margin: 0 5px;
    height: 20px;
}

.hennsinn{
    margin: 30px 0 0 0;
    text-align: center;
}