body{
    margin: 0 auto;
    height: 100vh;
    background-color: #f2f0ff;
}
.title{
    border-bottom:  1px #aaa solid;
    background-color: #fff;
}
.title div{
    padding: 10px 0 10px 5px;
    width: fit-content;
    font-size: 30px;
}


.kaitou{
    margin: 50px 0 0 0;
}
.kaitou p{
    width: fit-content;
    max-width: 65%;
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 20px;
}
#hint{
    font-size: 18px;
}

.me{
    margin: 0 5% 0 auto;
    background-color: greenyellow;
    
}
.chatbot{
    margin: 25px auto 100px 5%;
    background-color: gray;
    color: white;
}


.kensaku{
    display: flex;
    position: fixed;
    left: 0px;
    right: 0px;
    margin: 0 auto 0 auto;
    padding: 10px 0 0 0;
    bottom: 0px;
    justify-content: center;
    background-color: white;
    border-top: 1px #aaa solid;
}
#user-input{
    height: 35px;
    width: 70%;
    border-radius: 15px;
    padding: 0 5px;
    font-size: 20px;
    size: 40px;
    margin: 0 10px 10px 0;
    border: 2px #aaa solid;
}
#send-btn{
    cursor: pointer;
    width: 80px;
    border-radius: 20px;
    margin: 0 0 10px 0;
    border: 2px #aaa solid;
}

.X{
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 66px;
    top: 0;
    right: 0;
    font-size: 35px;
    border-left: 1px #aaa solid;
}
.X div{
    width: fit-content;
}



@media (max-width: 800px){}
