.div {
    border-radius: 30px;
    background-color: #fff;
    max-width: 960px;
    padding: 70px 68px;
    margin: 0 auto; /* ここを追加 */
  }
  @media (max-width: 991px) {
    .div {
      padding-left: 20px;
      padding-right: 20px; /* 新しく追加 */
    }
  }
  .div-2 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-2 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 42%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-3 {
    display: flex;
    margin-top: 29px;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-3 {
      margin-top: 40px;
    }
  }
  .div-4 {
    display: flex;
    width: 100%;
    gap: 20px;
  }
  .div-5 {
    color: #000;
    flex-grow: 1;
    flex-basis: auto;
    font: 700 32px Noto Sans JP, sans-serif;
  }
  .div-6 {
    display: flex;
    gap: 15px;
    margin: auto 0;
  }
  .img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 20px;
  }
  .div-7 {
    color: #000;
    margin-top: 47px;
    font: 400 20px Noto Sans JP, sans-serif;
  }
  @media (max-width: 991px) {
    .div-7 {
      margin-top: 40px;
    }
  }
  .div-8 {
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: rgba(225, 221, 219, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    display: flex;
    margin-top: 14px;
    gap: 20px;
    font-size: 16px;
    color: #e1dddb;
    font-weight: 700;
    white-space: nowrap;
    justify-content: space-between;
    padding: 8px 18px;
  }
  @media (max-width: 991px) {
    .div-8 {
      white-space: initial;
    }
  }
  .div-9 {
    font-family: Noto Sans JP, sans-serif;
    margin: auto 0;
  }
  .img-2 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 25px;
  }
  .div-10 {
    color: #000;
    margin-top: 37px;
    font: 400 20px Noto Sans JP, sans-serif;
  }
  .div-11 {
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: rgba(225, 221, 219, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    display: flex;
    margin-top: 15px;
    gap: 20px;
    font-size: 16px;
    color: #e1dddb;
    font-weight: 700;
    white-space: nowrap;
    justify-content: space-between;
    padding: 8px 18px;
  }
  @media (max-width: 991px) {
    .div-11 {
      white-space: initial;
    }
  }
  .div-12 {
    font-family: Noto Sans JP, sans-serif;
    margin: auto 0;
  }
  .img-3 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 25px;
  }
  .div-13 {
    color: #a19d97;
    align-self: center;
    margin-top: 24px;
    font: 700 16px Noto Sans JP, sans-serif;
  }
  .div-14 {
    text-align: center;
    border-radius: 10px;
    background-color: #f60;
    margin-top: 53px;
    align-items: center;
    color: #fff;
    white-space: nowrap;
    justify-content: center;
    padding: 14px 60px;
    font: 700 24px Noto Sans JP, sans-serif;
  }
  @media (max-width: 991px) {
    .div-14 {
      margin-top: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-15 {
    color: #a19d97;
    align-self: center;
    margin-top: 24px;
    font: 700 16px Noto Sans JP, sans-serif;
  }
  .div-16 {
    color: #a19d97;
    align-self: center;
    margin-top: 12px;
    font: 700 16px Noto Sans JP, sans-serif;
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 58%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .img-4 {
    aspect-ratio: 0.97;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  @media (max-width: 991px) {
    .img-4 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  