body {
    font-family: Arial, sans-serif;
    background-color:white;
    display: flex;
    align-items: center;
    height: 100vh;
}

.outer-container {
    background-color: white;
    padding: 0.1em;
    border-radius: 1px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    height: 100%;
}





.container {
    background-color: white;
    padding: 0;
    border: 1em;
    border-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



p{
    font-size: 20px;
    font-weight: 700;

}

.p1 {
    position: absolute;
    top: 240px;
    left:250px;
    font-size: 40px;
    text-align: left;
}

.p2{
    position: absolute;
    top: 320px;
    left:100px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: left;

}
p,form {
    margin: 10px 0;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    background-color:white;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 8px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    text-align: center;
    overflow: hidden;
    background-color: white;
}

.right img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}


input {
    position: absolute;
    top: 375px;
    left:100px;
    text-align: left;

    padding: 1em;
    margin-bottom: 2.5em;
    width: 100%;
    max-width: 425px;
    border-radius: 4px;
    border-width: 1px;
}

.button-group {
    position: absolute;
    top: 390px;
    left:250px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 450px;
}



.return-button {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #e66b00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.submit-button:hover {
    background-color: #e66b00;
}

.return-button:hover {
    background-color: #333;
}

#message {
    margin-top: 1em;
}

h1 {
    margin-bottom: 1em;
}

h2 {
    margin-bottom: 1em;
}

