body {
    font-family: Arial, sans-serif;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}



.container {
    background-color: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 1em;
}

h2 {
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 0.5em;
    margin-bottom: 1em;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
}

.submit-button {
    padding: 0.5em 2em;
    background-color: #FF7F00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.return-button {
    padding: 0.5em 2em;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.submit-button:hover {
    background-color: #e66b00;
}

.return-button:hover {
    background-color: #333;
}

#message {
    margin-top: 1em;
}
