@charset "utf-8";

body{
  font-family: 'メイリオ','Meiryo','Hiragino Kaku Gothic Pro',sans-serif;
}

.main-login{
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
}

.left-login{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.right-login{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.card-login{
  width: 60%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 30px 40px;
}
.card-login h1{
  color: #FF6600;
  font-size: 2.5rem;
  margin: 30px 0 20px 0;
}

.text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0 10px 0;
}
.text p{
  color: #232323;
  margin: 5px 0 5px 0;
  font-size: 1.1rem;
  font-weight: 700;
}
.text input{
  position: relative;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 13px 0 13px 0;
  font-size: 0.9rem;
  box-shadow: 0px 10px 10px #0003;
  outline: none;
  box-sizing: border-box;
  line-height: 1.5rem;
  text-indent: 20px;
}
.text input::placeholder{
  color: rgba(35, 35, 35, 0.5);
  letter-spacing: 0.1rem;
}

.card-login .text i{
  position: absolute;
  right: 180px;
  height: calc(-1000% - 0.5rem);
  padding: 10px 0 10px 0;
  font-size: 20px;
  color: #232323;
}

.btn-login{
  max-width: 100%;
  padding: 16px 0 16px 0;
  margin: 25px 25px 25px 25px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 10px 10px #0003;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;k z
  background-color: #fff;
  font-size: 1.2rem;
  color: #FF6600;
  cursor: pointer;
}
.signup_link{
  margin: 10px 0 0 0;
}
.signup_link a{
  color: #A8A8A8;
  font-weight: 800;
  text-decoration: none;
  cursor: pointer;
}
.signup_link a:hover{
  color: #FF6600;
}
.forget_link{
  margin: 20px 0 20px 0;
}
.forget_link a{
  padding: 10px 0 10px 0;
  color: #A8A8A8;
  font-weight: 800;
  text-decoration: none;
  cursor: pointer;
}
.forget_link a:hover{
  color: #FF6600;
}
.btn-login:hover{
  background-color: #FF6600;
  color: #fff;
}






/* メディアクエリ */

/* 1000px以下 */
@media (max-width: 1000px) {

  .card-login{
    width: 85%;
  }

}

/* 769px未満 */
@media (max-width: 768px) {

  

}

/* 600px未満 */
@media (max-width: 599px) {

  

}
