
  .login-container {
    border-radius: 30px;
    background-color: #fff;
    max-width: 960px;
    overflow: hidden;
    padding: 69px 0 69px 68px;
  }
  
  .login-content {
    display: flex;
    gap: 20px;
  }
  
  .login-form-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 42%;
  }
  
  .login-form-wrapper {
    display: flex;
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
  }
  
  .login-header {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
  }
  
  .login-title {
    color: #000;
    font: 700 32px Noto Sans JP, sans-serif;
  }
  
  .login-icons {
    align-self: start;
    display: flex;
    margin-top: 14px;
    gap: 7px;
  }
  
  .login-icon {
    aspect-ratio: 0.93;
    object-fit: contain;
    object-position: center;
    width: 28px;
  }
  
  .login-icon-small {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
    align-self: start;
  }
  
  .input-label {
    color: #000;
    align-self: start;
    margin-top: 45px;
    font: 400 20px Noto Sans JP, sans-serif;
  }
  
  .input-wrapper {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-top: 10px;
    gap: 20px;
    color: #e1dddb;
    white-space: nowrap;
    justify-content: space-between;
    padding: 8px 18px;
    font: 700 16px Noto Sans JP, sans-serif;
    border: 1px solid #e1dddb;
  }
  
  .input-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 25px;
  }
  
  .signup-link {
    color: #a19d97;
    align-self: center;
    margin-top: 20px;
    font: 700 16px Noto Sans JP, sans-serif;
  }
  
  .login-button {
    border-radius: 10px;
    background-color: #ff6600;
    margin-top: 50px;
    color: #fff;
    white-space: nowrap;
    padding: 8px 70px;
    font: 700 24px Noto Sans JP, sans-serif;
  }
  
  .forgot-link {
    color: #a19d97;
    align-self: center;
    margin-top: 20px;
    font: 700 16px Noto Sans JP, sans-serif;
  }
  
  .forgot-password-link {
    color: #a19d97;
    align-self: center;
    margin-top: 5px;
    font: 700 16px Noto Sans JP, sans-serif;
  }
  
  .image-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 58%;
    margin-left: 20px;
  }
  
  .login-image {
    aspect-ratio: 0.97;
    object-fit: contain;
    object-position: center;
    width: 100%;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
  @media (max-width: 991px) {
    .login-container {
      padding-left: 20px;
    }
  
    .login-content {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .login-form-column {
      width: 100%;
    }
  
    .login-form-wrapper {
      margin-top: 40px;
    }
  
    .input-label {
      margin-top: 40px;
    }
  
    .input-wrapper {
      white-space: initial;
    }
  
    .login-button {
      margin-top: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  
    .image-column {
      width: 100%;
    }
  
    .login-image {
      max-width: 100%;
      margin-top: 40px;
    }
  }
