.ユーザー機能グループ {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
  }
  .フォロー機能グループ {
    border-radius: 15px;
    background-color: rgba(217, 217, 217, 1);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding: 91px 80px 1006px;
  }

  .ユーザー機能グループ-2 {
    color: rgba(0, 0, 0, 1);
    font: 700 128px Noto Sans JP, sans-serif;
  }
  .メッセージ {
    background-color: rgba(38, 0, 255, 1);
    display: flex;
    width: 1440px;
    max-width: 100%;
    flex-direction: column;
    margin: 4904px 0 -201px 188px;
  }
  .メッセージ画面 {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    padding: 2px 0;
  }
  .div {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 50px;
  }
  .div-2 {
    display: flex;
    gap: 10px;
    color: rgba(51, 51, 51, 1);
    white-space: nowrap;
    font: 700 48px Noto Sans JP, sans-serif;
  }
  .img {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 80px;
  }
  .かきっこ {
    flex-basis: auto;
    margin: auto 0;
  }
  .div-3 {
    display: flex;
    gap: 30px;
    margin: auto 0;
  }
  .img-2 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 50px;
  }
  .img-3 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 50px;
  }
  .img-4 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 50px;
  }
  .img-5 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 50px;
  }
  .img-6 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 50px;
  }
  .div-4 {
    display: flex;
    margin-right: 33px;
    gap: 15px;
    font-family: Noto Sans JP, sans-serif;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    flex-wrap: wrap;
  }
  .div-5 {
    background-color: rgba(177, 177, 177, 1);
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 4px 0;
  }
  .div-6 {
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    align-items: start;
    gap: 18px;
    padding: 0 19px 9px 7px;
    border: 1px solid rgba(126, 126, 126, 1);
  }
  .img-7 {
    aspect-ratio: 1.01;
    object-fit: contain;
    object-position: center;
    width: 77px;
    margin-top: 8px;
  }
  .div-7 {
    display: flex;
    flex-direction: column;
    /* width: 100px; */
  }
  .ユーザー名 {
    align-self: start;
  }
  .詳細メッセージ-詳細メッセージ-詳細メッセージ-詳細メッセージ {
    font-size: 14px;
    margin-top: 21px;
  }
  
  .img-17 {
    aspect-ratio: 1.01;
    object-fit: contain;
    object-position: center;
    width: 77px;
    margin-top: 8px;
  }
  .div-27 {
    display: flex;
    flex-direction: column;
  }
  .img-18 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 45px;
    margin: auto 0;
  }
  .div-28 {
    align-self: end;
    display: flex;
    margin-top: 418px;
    flex-direction: column;
    align-items: start;
    font-size: 14px;
    white-space: nowrap;
  }
  .あああああああああああああああああ {
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 1);
    width: 356px;
    max-width: 100%;
    padding: 13px 23px 95px;
  }
  .あああああああああああああああああ-2 {
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 1);
    margin-top: 6px;
    width: 353px;
    max-width: 100%;
    padding: 5px 23px 43px;
  }
  .ああああああああああああああああああああああ {
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 1);
    align-self: end;
    margin-top: 68px;
    padding: 13px 27px 95px;
  }
  .div-29 {
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 0.7);
    display: flex;
    margin-top: 89px;
    width: 944px;
    max-width: 100%;
    gap: 20px;
    font-size: 20px;
    color: rgba(85, 85, 85, 1);
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 30px;
  }
  .div-30 {
    display: flex;
    gap: 20px;
  }
  .img-19 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 35px;
  }
  .送信したいメッセージ入力 {
    align-self: start;
    flex-basis: auto;
  }
  .img-20 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 35px;
  }